@import 'bootstrap';

#container { 
	padding:0 50px 0 50px;
}

body {
	color: white;
}

#main-container {
	// height: 500px;
	// width: 500px;
	// margin: 0 auto;
	width: 100%;
	height: 1000px;
	position: fixed;
	z-index: -10000;
	margin-top: -1000px;
}

table {
	position: relative;
}

.backing {
	background-color: rgba(50, 50, 50,.8)
}

.form-color{
	background-color: rgba(250, 250, 250,.2)
}

